language: ruby

rvm:
  - 2.0.0
  - 2.1.0
  - 2.1.1
  - 2.2.3
  - 2.3.0
  - jruby-19mode # JRuby in 1.9 mode
  - rbx-2.2.1
  - 2.5.0

gemfile:
  - gemfiles/rails_3.2.gemfile
  - gemfiles/rails_4.0.gemfile
  - gemfiles/rails_4.1.gemfile

matrix:
  allow_failures:
    - rvm: rbx-2.2.1
    - rvm: jruby-19mode
  exclude:
    - rvm: 1.9.3
      gemfile: gemfiles/rails_4.0.gemfile
    - rvm: 1.9.3
      gemfile: gemfiles/rails_4.1.gemfile
    - rvm: jruby-19mode
      gemfile: gemfiles/rails_3.2.gemfile
    - rvm: jruby-19mode
      gemfile: gemfiles/rails_4.0.gemfile
    - rvm: jruby-19mode
      gemfile: gemfiles/rails_4.1.gemfile
    - rvm: rbx-2.2.1
      gemfile: gemfiles/rails_3.2.gemfile
    - rvm: rbx-2.2.1
      gemfile: gemfiles/rails_4.0.gemfile
    - rvm: rbx-2.2.1
      gemfile: gemfiles/rails_4.1.gemfile

before_script:
  - bundle
